# services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginxTwo
    ports:
      - "8080:80"
    volumes:
      - Volum:/volum:rw
      - ./things/index.html:/volum/www/index.html
      - ./things/default.conf:/etc/nginx/conf.d/default.conf
  server:
    image: centos:latest
    container_name: centosTwo
    volumes:
      - Volum:/volum:rw
      - ./things/script:/volum/www/scr/script
    command: [/volum/www/scr/script]